* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.first-line ul {
  background-color: #3e3e3e;
  color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0.4rem 10% 0.4rem 0;
}

.first-line ul li {
  display: inline;
  margin-right: 2%;
  font-size: 0.8rem;
}

.second-line {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.modal-menu ul li {
  list-style-type: none;
  margin-bottom: 2.5rem;
}

.modal-menu ul li a {
  text-decoration: none;
  color: rgba(236, 82, 66);
  font-size: 1.5rem;
}

.second-line nav ul li {
  display: inline-block;
  margin-right: 3rem;
  font-size: 0.7rem;
}

.second-line nav ul li a {
  text-decoration: none;
  color: gray;
}

#about {
  color: #ec5242;
}

#campaign {
  text-align: center;
  color: #ec5242;
  border: 4px solid #ec5242;
  padding: 0.4rem;
  margin-left: 50px;
}

.logo-img {
  margin: 0 0 0 5%;
  height: 3rem;
}

header { display: none; }

.mobile-header {
  height: 20vh;
  padding: 2rem;
  background-image: url(./Assets/mobile-backg.png);
  background-size: cover;
  filter: grayscale(100%);
}

.fa-bars {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.95);
  z-index: 2;
  top: 1.5rem;
  left: 2rem;
  position: fixed;
}

.lecture-title {
  padding: 0.5rem 1.2rem 5rem 1.2rem;
  background: url(./Assets/mobile-backg.png) #e9ecef;
  background-size: cover;
}

.title1 {
  color: #ec5242;
  font-size: 1.5rem;
}

.lecture-title h1 {
  color: rgba(236, 82, 66, 0.01);
  font-size: 1.8rem;
  font-family: 'Arial black', sans-serif;
  line-height: 2rem;
  margin-top: 0.8rem;
  background-image: url(./Assets/title-logo.jpg);
  background-clip: content-box;
  -webkit-background-clip: text;
}

.title2 {
  margin: 2rem 0;
  border: 4px solid white;
  padding: 1.5rem;
  word-spacing: 5px;
  background-color: #e9ecef;
  color: #757575;
  line-height: 1.7rem;
}

.lecture-title h2 {
  color: #565656;
  font-weight: 900;
  font-size: 1.58rem;
  margin-bottom: 1rem;
}

.title3 {
  font-size: 1.3rem;
  color: #757575;
}

.program-black {
  height: auto;
  background: url(./Assets/program-bg-1.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem 3.5rem 1rem;
}

.program-black h2 {
  color: #fff;
}

.short-rule {
  width: 15%;
  border: 1px solid #ec5242;
  margin: 1rem auto 1rem auto;
}

.fa-podium-star {
  border: 2px solid red;
  color: #fff;
  padding: 15px;
  font-size: 5rem;
}

.icon-size {
  width: 50px;
  height: 50px;
}

.program-card-flex {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.program-card {
  background-color: rgb(60, 63, 70, 0.5);
  border: 3px solid rgb(60, 63, 70);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.8rem;
}

.program-card h3 {
  color: rgb(255, 81, 42);
  width: 30%;
}

.program-black p {
  color: rgb(221, 223, 224);
  font-size: 1rem;
  width: 50%;
  line-height: 1.7rem;
}

#join {
  width: 80%;
  background-color: #ec5242;
  color: #fff;
  padding: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 2rem;
}

.speakers {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
}

.left-right {
  display: flex;
  flex-direction: column;
}

.speakers h2 {
  color: rgb(38, 39, 46);
}

.speaker-card {
  display: flex;
  padding: 1rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.speaker-img {
  flex-basis: 35%;
  margin-right: 1rem;
}

.speaker-img img {
  width: 100%;
  z-index: 5;
}

.speaker-info {
  flex-basis: 65%;
}

.speaker-info h3 {
  color: #272a31;
  font-size: 1.2rem;
}

.speaker-info h4 {
  color: #ec5242;
  font-size: 0.8rem;
}

.speaker-info hr {
  width: 10%;
  margin: 0.8rem 0 1.2rem 0;
}

.speaker-info h5 {
  font-size: 0.8rem;
  color: rgb(70, 70, 70);
}

#more {
  width: 100%;
  padding: 0.7rem 0 0.7rem 0;
  margin: 1rem 0 2rem 0;
  border: 2px solid #d3d3d3;
  color: gray;
  background-color: #fff;
}

.fa-angle-down {
  margin-left: 1rem;
  color: #ec5242;
}

.cheq {
  position: relative;
  right: 1.5rem;
  bottom: 3rem;
  z-index: 1;
}

/* Modification for the about page */
.wrapper2 {
  background-color: #fff;
}

.box1 {
  background: url(./Assets/mobile-backg.png);
  background-size: cover;
  padding: 7rem 2rem 2rem 2rem;
  text-align: center;
}

#line1 {
  color: #ec5242;
  font-size: 1.5rem;
  text-align: center;
}

#line2 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: 900;
  color: rgb(237, 83, 66);
  font-size: 1.5rem;
  margin: 1rem 0 2rem 0;
}

#line3 {
  background-color: #fff;
  text-align: center;
  padding: 1.5rem 1rem;
  line-height: 1.5rem;
  color: rgb(130, 130, 130);
  border: 2px solid #d3d3d3;
  margin: 1rem 0;
}

#line4 {
  text-align: center;
  font-size: 0.8rem;
  color: rgb(130, 130, 130);
  line-height: 1.5rem;
}

#line4 a {
  text-decoration: none;
  color: rgb(38, 39, 46);
}

.box2 {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid gray;
}

.lecture-show {
  color: rgb(34, 29, 30);
}

.prize1 {
  width: 80%;
  line-height: 1.5rem;
  color: rgb(34, 29, 30);
}

.short {
  width: 15%;
  border: 1px solid #ec5242;
  margin: 1rem auto 1rem auto;
}

.logo2 {
  border: 2px solid #d3d3d3;
  width: 95%;
  margin: 3rem auto;
  display: flex;
  padding: 1.3rem;
}

.logo2a {
  flex-basis: 40%;
  display: flex;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.logo2a img {
  width: 100%;
  height: 80%;
}

.logo2b {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.5rem;
}

.logo2b p {
  margin: 0;
  padding: 0;
  font-size: 0.5rem;
  color: gray;
}

.logo2b h3 {
  font-size: 2.5rem;
}

.logo2b h4 {
  font-size: 1.8rem;
}

.full {
  width: 9.5rem;
}

.box3 {
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid gray;
}

.box3 h2 {
  color: rgb(34, 29, 30);
}

.box3 p {
  width: 80%;
  line-height: 1.5rem;
  color: rgb(34, 29, 30);
}

.img-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.img-flex img {
  width: 100%;
  margin-top: 2rem;
}

.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 2rem 1rem;
  color: #fff;
  background-color: rgb(65, 65, 68);
}

.partners {
  display: flex;
  max-width: 100%;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.air {
  width: 27%;
  filter: grayscale(100%);
  margin: 1rem 1.3rem 1rem 0;
}

footer {
  display: flex;
  height: 18vh;
}

.col2 {
  flex-basis: 50%;
  padding: 0 2rem 0 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.col3 p {
  font-size: 0.7rem;
}

.col3 {
  flex-basis: 50%;
  padding: 0 1rem 0 2rem;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile {
  width: 65%;
  height: 20%;
}

.modal-menu {
  height: 150vh;
  background-color: rgba(39, 42, 49);
  display: none;
  flex-direction: column;
  padding: 2.5rem;
  z-index: 3;
}

.fa-xmark {
  color: #fff;
  font-size: 2rem;
  align-self: flex-end;
}

.fa-house {
  display: none;
  visibility: hidden;
}

#line3-hide { display: none; }

#line4-hide { display: none; }

.lecture-hide { display: none; }

.speakers-hide { display: none; }

.prize2 { display: none; }

.desktop {
  visibility: hidden;
  display: none;
}

.link { display: none; }

.footer-hide { display: none; }

/* ===========Media Query for min-width of 768px==================== */
@media only screen and (min-width: 768px) {
  header { display: block; }

  .fa-bars {
    display: none;
    visibility: hidden;
  }

  #line1 { display: none; }

  #line2 {
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  .box1 a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
  }

  .fa-house {
    display: inline-block;
    visibility: visible;
    text-align: right;
    font-size: 1rem;
    color: #272a31;
    margin-top: 5px;
  }

  .box1 {
    background-image: url(./Assets/mobile-backg.png);
    padding: 0.5rem 5rem 4rem 10rem;
  }

  .hide {
    display: block;
    width: 4%;
    margin: 1rem auto 1rem auto;
  }

  #line3 { display: none; }

  #line3-hide {
    display: block;
    background-color: #fff;
    text-align: center;
    padding: 1.5rem 1rem;
    line-height: 1.2rem;
    color: rgb(130, 130, 130);
    border: 2px solid #d3d3d3;
    margin: 1.5rem 0 2.5rem 0;
    font-size: 0.6rem;
  }

  #line4 { display: none; }

  #line4-hide {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: rgb(130, 130, 130);
  }

  .link a {
    color: #ddd;
    font-weight: bold;
  }

  #line4-hide a {
    text-decoration: none;
    color: #272a31;
    font-size: 1rem;
    text-align: center;
  }

  .lecture-hide { display: block; }

  .lecture-show { display: none; }

  .box2 { padding: 2rem 6rem 0.5rem 10rem; }

  .support { display: none; }

  .prize1 { display: none; }

  .prize2 {
    display: block;
    font-size: 0.7rem;
    width: 100%;
    line-height: 1.5rem;
    color: rgb(34, 29, 30);
  }

  .logo2 {
    width: 75%;
    padding: 1.3rem 4rem 0 4rem;
    height: auto;
  }

  .box3 { padding: 2rem 2.5rem 2rem 20%; }

  .box3 img {
    width: 50%;
    margin-right: 2rem;
  }

  footer {
    background-color: #2e2e2e;
    color: #fff;
    display: flex;
    align-items: center;
  }

  .img-flex {
    flex-direction: row;
  }

  .img-flex img {
    padding: 1rem;
    margin-right: 0;
  }

  .col2 {
    display: flex;
    justify-content: flex-end;
  }

  .wide {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
  }

  .desktop {
    visibility: visible;
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }

  .mobile { visibility: hidden; }

  .lecture-title {
    background-image: url(./Assets/desktop-backg.png);
    background-size: cover;
    padding: 0 10rem 5rem 10rem;
  }

  .title1 { font-size: 2.5rem; }

  .lecture-title h1 {
    font-size: 3.5rem;
    font-family: 'Arial black', sans-serif;
    line-height: 5rem;
    margin-top: 0.8rem;
  }

  .title2 {
    padding: 1rem;
    color: #272a31;
    line-height: 1.7rem;
    width: 70%;
  }

  .lecture-title h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .title3 { font-size: 1.4rem; }

  .program-card-flex {
    flex-direction: row;
    justify-content: center;
  }

  .program-card {
    flex-direction: column;
    padding: 0.5rem;
    width: 17%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    margin-right: 0.3rem;
    height: auto;
  }

  .program-card p {
    font-size: 0.7rem;
    width: 100%;
    flex-basis: 53%;
    line-height: 1.2rem;
    margin: 8px 0 0 0;
    text-align: center;
  }

  .program-card h3 {
    width: 100%;
    flex-basis: 10%;
    text-align: center;
    margin: 6px 0 6px 0;
  }

  .icon-size {
    flex-basis: 37%;
    justify-self: flex-start;
    width: 40%;
  }

  .plus { margin-bottom: 15%; }

  #join {
    display: none;
    visibility: hidden;
  }

  .link {
    display: block;
    margin-top: 3rem;
  }

  .hide2 {
    width: 5%;
    border: 1px solid #ec5242;
    margin: 1rem auto 1rem auto;
  }

  .left-right { flex-direction: row; }

  #more { width: 50%; }

  .support2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem 10rem;
    color: #717171;
    background-color: rgb(65, 65, 68);
  }

  .partners2 {
    display: flex;
    align-items: center;
  }

  .partners2 img {
    width: 16%;
  }

  .footnote {
    display: flex;
    background-color: #fff;
  }

  .footer-hide {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .col4 {
    flex-basis: 35%;
    padding: 2rem 2rem 2rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .col5 {
    flex-basis: 65%;
    padding: 2rem 1rem 2rem 2rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile2 {
    width: 60%;
  }

  .col5 p {
    color: #565656;
    margin-bottom: 0.8rem;
  }
}
